<div class="container mt-2">

    <div class="row">
        <div class="col">
            <p class="h3 fw-bold"><i class="fa fa-plus-circle"></i> Add Contact</p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis consequuntur quae dicta repudiandae adipisci hic natus tenetur quia impedit expedita, ut neque totam qui facere culpa ab animi libero voluptatem at deleniti molestias alias recusandae
                molestiae.
            </p>
        </div>
    </div>
</div>
<!-- contact form -->
<!-- <pre>{{groups |json}}</pre> -->
<!-- spiner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<!-- spiner -->
<!-- error massege -->
<div *ngIf="!loading && errorMessagee">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessagee}}</p>
            </div>
        </div>
    </div>
</div>
<!-- error massege -->
<pre>{{contact|json}}</pre>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="addSubmit()">
                <div class="mb-2">
                    <input type="text" required="" [(ngModel)]="contact.name" name="name" class="form-control" placeholder="Name...!" />
                </div>
                <div class="mb-2">
                    <input type="text" required="" [(ngModel)]="contact.photo" name="photo" class="form-control" placeholder="Photo...!" />
                </div>
                <div class="mb-2">
                    <input type="text" required="" [(ngModel)]="contact.email" name="email" class="form-control" placeholder="email...!" />
                </div>
                <div class="mb-2">
                    <input type="text" required="" [(ngModel)]="contact.mobile" name="mobile" class="form-control" placeholder="mobile...!" />
                </div>
                <div class="mb-2">
                    <input type="text" required="" [(ngModel)]="contact.company" name="company" class="form-control" placeholder="company...!" />
                </div>
                <div class="mb-2">
                    <input type="text" required="" [(ngModel)]="contact.title" name="title" class=" form-control " placeholder="title...! " />
                </div>
                <div class="mb-2 ">
                    <select name=" " id=" " required="" [(ngModel)]="contact.groupId" name="groupId " class="form-control " *ngIf="groups.length>0">
                    <option value="">---Select a group---</option>
                    <option [value]="gps.id" *ngFor="let gps of groups">{{gps.name}}</option>
                    </select>
                </div>

                <div class="mb-4 text-right">
                    <input type="submit" class="btn btn-success" value="create" />
                    <a routerLink="/" class="btn btn-warning ms-3">close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" srcset="" class="img-responsive w-100">
        </div>
    </div>
</div>