<div class="container mt-2">
    
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold"><i class="fa fa-plus-circle"></i> Add Contact</p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis consequuntur quae dicta repudiandae adipisci hic natus tenetur quia impedit expedita, ut neque totam qui facere culpa ab animi libero voluptatem at deleniti molestias alias recusandae
                molestiae.
            </p>
        </div>
    </div>
</div>
<!-- contact form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name...!" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo...!" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="email...!" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="mobile...!" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="company...!" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="title...!" />
                </div>
                <div class="mb-2">
                    <select name="" id="" class="form-control">
            <option value="">---Select a group---</option>
          </select>
                </div>

                <div class="mb-4 text-right">
                    <input type="submit" class="btn btn-success" value="create" />
                    <a routerLink="/" class="btn btn-warning ms-3">close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="../../assets/img/user.png" alt="" srcset="" class="img-responsive w-100">
        </div>
    </div>
</div>